// @keyframes appear {

//   100% {
//     top: 100vh;
//   }
// }

.landing-page-wrapper-visible {
  position: absolute;
  // margin:auto;
  width: 100vw;
  height: 100vh;
  background-color: #999;
  z-index: 2000;
  // &:hover {
  //   animation: appear 1s infinite;
  // }

  button{
    background-color :rgb(207, 80, 80);
  }
}

.landing-page-wrapper-hidden {
  position: absolute;
  // margin:auto;
  width: 100vw;
  height: 100vh;
  background-color: #999;
  z-index: -1;
  // &:hover {
  //   animation: appear 1s infinite;
  // }


}
