.counter {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.count {
  margin: 0 10px;
}
.bridge-marker {
  background-color: blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.village-marker {
  background-color: green;
  //needs a shape maker css for a rhombus
  width: 20px;
  height: 20px;
}
